* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    align-content: space-between;
}

.item {
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;

    /* flex: 1; */

}

.i2 {
    height: 200px;
    /* 
    flex-basis: 300px;
    flex-shrink: 1; 
    */
    flex: 0 1 300px;
}

.i3 {
    order:1;
    flex:1;
}
.i4 {
    align-self: stretch;
    order: -1;
}
